body{margin:0}
*{font-family:inherit; box-sizing: border-box; outline: none;}
.as-slider-sm{margin-bottom: 10px; max-width: 450px; position: relative; overflow: hidden;}
.slider-items{padding: 0; }
img{width: 100%; height: auto; display: block;}
.sliderSm-items{margin:0;}
.as-slider-sm .item{display: flex;
	box-shadow: -2px 2px 3px #999;
	position: relative;
	align-items: center;
	border-radius: 15px;
	min-height: 190px;
	background:linear-gradient(-26deg, #4b00ff, #fb00ff);
	color:#fff;
	display: none;
}

.as-slider-sm .active{display: flex;}
.as-slider-sm .item img{
    width: 140px;
    height: auto;
    position: absolute;
    height: 140px;
    transform: translate(-40px, 50%);
    border-radius: 15px;
    margin-top: -58px;
}
.as-slider-sm .item-data { padding:10px 30px 10px 120px; }
.dots-box { position: absolute; padding: 0; margin: 0; top: 0; right: 0; height: 100%; width: 25px; color: #fff;  display: flex; align-items: center; justify-content: center; }
.dots-position { padding: 0; margin: 0;}
.dots-position li {
    width: 8px;
    height: 8px;
    list-style: none;
    background: #fff;
    margin: 6px 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.dots-position .showitem{display: block;}
.dots-position li.active {
    height: 20px;
    background: #f551fb;
    display: block;
}

.item-data h4{margin: 10px 0;}
.item-data p{margin: 0;}

.as-slider-navlink-sm { position: absolute; bottom: 5px; right: 10px; color: #fff; }
.as-slider-navlink-sm button{
	background: none;
    border: 0;
    color: #fff;
    font-size: 21px;
    padding: 2px;
	cursor: pointer;
}